<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <!-- Database Connection -->
  <connectionStrings>
    <add name="PFMSConnection"
         connectionString="Data Source=YOUR_SERVER_NAME;
                           Initial Catalog=PFMS;
                           Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>


  <!-- ASP.NET Configuration -->
  <system.web>

    <compilation debug="true" targetFramework="4.8" />

    <httpRuntime targetFramework="4.8" />

  </system.web>


  <!-- IIS Configuration -->
  <system.webServer>

    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
    </handlers>

  </system.webServer>

</configuration>
